<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Welcome!</h1>

  <p>
    If you're seeing this page then you're likely curious about what this API/website can do. In that case, you're in
    the right place!
  </p>

  <hr />

  <p>
    To get the actual data you're looking for, you'll want to use one of the following endpoints:

  <ul>
    <li>
      <pre>GET: {{ .BaseURL }}/:channelName</pre>
    </li>
  </ul>
  </p>
</body>

</html>